/* thank.html */
body{
    font-family: 'Poppins','Segoe UI',Tahoma,'Geneva',Verdana,sans-serif; text-align: center; 
    color: #fff; background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./img/sean-pollock.jpg'); 
    background-size: cover; 
    background-position: center;
    background-attachment:fixed;
    background-repeat: no-repeat;
    padding-top:10rem;
}

a { text-decoration: none; color: #f0c040;; font-weight: bold;border-radius: 10px; border:4px solid #e6b800; padding: 5px; margin-top: 20px;}
a:hover{color: #e6b800; background-color:#001f3f; }